body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #242424;
	color: rgba(255, 255, 255, 0.87);
	font-family: Inter, system-ui, 'Avenir', Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	display: flex;
	justify-content: center;
	align-items: center;
}

#root {
	width: 100%;
	padding: 32px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo {
	width: 300px;
	height: auto;
	margin-bottom: 20px;
}

h1 {
	font-size: 48px;
	font-family: "Audiowide", sans-serif;
	text-transform: uppercase;
	color: linear-gradient(180deg, #ffd700 27%, #ff8c00 100%);
}

.search-digimon {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.search-digimon input,
.search-digimon select {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	background-color: #ffffffde;
	color: #242424;
}

.search-digimon input {
	min-width: 200px;
}

.search-digimon button {
	background-color: #007bff;
	color: white;
	cursor: pointer;
	height: 45px;
	outline: none;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: 500;
	font-family: inherit;
	transition: background-color 0.2s, transform 0.2s;
}
.search-digimon button:focus {
	outline: none;
}

.search-digimon button:hover {
	background-color: #0056b3;
	transform: translateY(-2px);
}

.digimon-card {
	border: 1px solid #ccc;
	border-radius: 20px;
	padding: 20px;
	text-align: center;
	width: 200px;
	transition: transform 0.2s;
	margin: 10px;
}

.digimon-card:hover {
	transform: translateY(-5px);
}

.digimon-card img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 50%;
}

.digimon-card h3 {
	font-family: "Audiowide", sans-serif;
}

.digimon-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 30px;
	width: 100%;
	max-width: 1280px;
}
